.title {
  color: #333;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin-top: 5px;
  margin-right: 5px;
  background: #b1cc74;
  border-radius: 4px;
  color: 333;
}

.btncontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loginbtncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
